.info {
    width: 100%;
}

.h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    margin: 0;
}

.h2 {
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

@media (max-width: 750px) {
    .h1 {
        font-size: 40px;
    }
}